@charset "utf-8";

/**
 * このファイルでは、Infoページの書式を設定しています。
 *  1. ヘッダー
 */


/**************************
    1. ヘッダー
**************************/

/* 戻るボタンの位置と画像 */
.header-back-btn {
    position: absolute;
    top: 5px;
    left: 10px;
    background-image: url("../images/arrow_l.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px;
    background-color: #391;
}
