@charset 'utf-8';



/* Calendar
--------------------------------------------------------- */
.wg-calendar {
	padding: 10px 0 15px;
	background-color: #fff;
}
.wg-calendar-table {
	color: #444;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
.wg-calendar-table th,
.wg-calendar-table td {
}
.wg-calendar-table th {
	line-height: 1.4em;
}
.wg-calendar-table td {
}
.wg-calendar-date {
	font-size: inherit;
}
.wg-calendar-sun,
.wg-calendar-hol {
	color: #d11;
}
.wg-calendar-sat {
	color: #44d;
}
.wg-calendar-control {
	position: relative;
	text-align: center;
}
.wg-calendar-control .material-icons {
}
.wg-calendar-label,
.wg-calendar-prev,
.wg-calendar-next {
	display: inline-block;
	vertical-align: middle;
}
.wg-calendar-year,
.wg-calendar-month {
	margin: 0 5px;
}


/* Sidebar
--------------------------------------------------------- */
.wg-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 230px;
	height: 100%;
	transform: translateX(-100%);
	z-index: 1500;
}
.wg-sidebar.wg-animate {
	transition: transform 300ms ease-in-out;
}
.wg-sidebar.wg-open {
	transform: translateX(0);
}
.wg-sidebar.wg-closed,
.wg-sidebar-dismiss.wg-dismiss-closed {
	visibility: hidden;
}
.wg-sidebar-dismiss {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1400;
	background-color: rgba(0,0,0,.3);
	opacity: 0;
	transition: opacity 300ms ease-out;
}
.wg-sidebar-dismiss.wg-dismiss-open {
	opacity: 1;
}

/* Menu
---------------------------------------------------- */
.wg-menu {
	position: absolute;
	top: 16px;
	right: 16px;
	transform: scale(0);
	z-index: 1500;
}
.wg-menu.wg-animate {
	transition: transform 200ms;
}
.wg-menu.wg-open {
	transform: scale(1);
}
.wg-menu.wg-closed,
.wg-menu-dismiss.wg-dismiss-closed {
	visibility: hidden;
}
.wg-menu-dismiss {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1400;
}

/* Popup
---------------------------------------------------- */
.wg-popup {
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 1500;
}
.wg-popup.wg-animate {
	transition: opacity 300ms;
}
.wg-popup.wg-open {
	opacity: 1;
}
.wg-popup.wg-closed,
.wg-popup-dismiss.wg-dismiss-closed {
	visibility: hidden;
	max-height: 0;
	max-width: 100%;
	overflow: hidden;
	z-index: -1;
}
.wg-popup-dismiss {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1400;
	opacity: 0;
	background-color: rgba(0,0,0,.3);
	transition: opacity 300ms ease-out;
}
.wg-popup-dismiss.wg-dismiss-open {
	opacity: 1;
}


/* Dropdown
---------------------------------------------------- */
.wg-dropdown {
	position: relative;
	overflow: hidden;
}
.wg-dropdown.wg-animate {
	transition: box-shadow 200ms;
}
.wg-dropdown.wg-open {
	z-index: 1500;
}
.wg-dropdown-value {
	padding: 16px;
	line-height: 16px;
	height: 16px;
}
.wg-dropdown-list {
	position: relative;
}
.wg-dropdown-list .wg-hidden {
	display: none;
}
.wg-dropdown-dismiss.wg-dismiss-closed {
	visibility: hidden;
	z-index: -1;
}
.wg-dropdown-dismiss {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1400;
}
