@charset 'utf-8';

@media(min-width: 600px) {

	.wg-calendar-label {
		font-size: 18px;
	}
	.wg-calendar-date {
		font-size: 18px;
		margin: 6px 0;
	}
	.wg-calendar-icons .sort-label {
		font-size: 15px;
		padding: 4px 6px;
	}
	.wg-calendar-today .wg-calendar-date:before {
		top: -7px;
		left: 50%;
		margin-left: -14px;
		height: 28px;
		width: 28px;
	}
}
@media(max-width: 800px) {
	#sidebar .sidebar-header-logo {
		display: none;
	}
	#top .app-description h1 {
		display: none;
	}
}
@media(min-width: 800px) {

	#sidebar {
		visibility: visible;
		width: 280px;
		z-index: 2000;
		transform: translateX(0);
	}
	#sidebar .sidebar-header {
		height: 144px;
		padding-top: 16px;
		box-sizing: border-box;
	}
	#sidebar .sidebar-header-logo {
		text-align: center;
	}
	#sidebar .sidebar-header-logo .material-icons {
		font-size: 72px;
	}
	#sidebar .sidebar-header h1 {
		text-align: center;
		padding: 0;
	}

	#top .page-header {
		display: none;
	}
	#top .app-list,
	#top .ext-links {
		display: none;
	}

	.page-content {
		position: absolute;
		top: 0;
		left: 280px;
		right: 0;
		bottom: 0;
	}
	.header-title {
		height: 16px;
	}
	.header-title * {
		display: none;
	}

	.md-select-value {
		font-size: 18px;
		padding-bottom: 0;
	}

	.wg-menu.md-select {
		left: 352px;
	}



}